In [24]:
%matplotlib inline
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
from scipy.optimize import minimize

Exploratory Analysis 
--
The goal of this section is to better understand the format of the data.

#### Approach/Avoid Stage

In [25]:
# read in the data sets from the approach/avoid task
aa_adults = pd.read_csv("Study3_AAData_Adults.csv", index_col = 0)
aa_kids = pd.read_csv("Study3_AAData_Kids.csv", index_col = 0)

In [26]:
aa_adults.head()

,PartID,Attn1,Attn2,Attn3,Age,Gender,VidsWatched,Stars,BadBlocks,NumStickers,...,TimeSee.BP,TimeSee.BS,TimeSee.WP,TimeSee.WS,BPSeen,BSSeen,WPSeen,WSSeen,Valence,AgeGroup
1,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,1,Adult
2,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,0,Adult
3,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,1,Adult
4,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,1,Adult
5,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,1,Adult

In [27]:
aa_kids.head()

,PartID,Age,Gender,Block,HappySide,BadBlocks,Attn1,Attn2,Attn3,RCD,...,Pred,TrialSet,TimeSee.BP,TimeSee.BS,TimeSee.WP,TimeSee.WS,BPSeen,BSSeen,WPSeen,WSSeen
1,4-10,4.389041,M,WP,L,BS,1,1,1,1,...,1.0,1,4,4,4,4,True,True,True,True
2,4-10,4.389041,M,BP,L,BS,1,1,1,1,...,NaN,2,4,4,4,4,True,True,True,True
3,4-10,4.389041,M,WS,L,BS,1,1,1,1,...,NaN,4,4,4,4,4,True,True,True,True
4,4-10,4.389041,M,BP,L,BS,1,1,1,1,...,1.0,1,4,4,4,4,True,True,True,True
5,4-10,4.389041,M,WS,L,BS,1,1,1,1,...,NaN,2,4,4,4,4,True,True,True,True

In [28]:
# Subset by a preliminary set of interesting variables 
variables_of_interest = ["PartID", "Block", "BadBlocks", "AgeGroup", "Trial", "Valence", "AA", "TrialSet", "Win"]
aa_adults = aa_adults[variables_of_interest]
aa_kids = aa_kids[variables_of_interest]

In [29]:
aa_kids.head()

  PartID Block BadBlocks AgeGroup  Trial  Valence  AA  TrialSet  Win
1   4-10    WP        BS    Young      1        1   1         1  1.0
2   4-10    BP        BS    Young      5        1   1         2  1.0
3   4-10    WS        BS    Young     13        1   1         4  1.0
4   4-10    BP        BS    Young      3        1   1         1  1.0
5   4-10    WS        BS    Young      7        1   1         2  1.0

In [30]:
aa_adults.head()

   PartID Block BadBlocks AgeGroup  Trial  Valence   AA  TrialSet  Win
1       1    BS        WP    Adult      1        1  1.0         1  1.0
2       1    WP        WP    Adult      8        0  0.0         2  NaN
3       1    BS        WP    Adult      7        1  1.0         2  1.0
4       1    WS        WP    Adult      3        1  0.0         1  NaN
5       1    BS        WP    Adult     12        1  1.0         3  1.0

In [31]:
# Verify the Datatypes
aa_kids.dtypes

PartID        object
Block         object
BadBlocks     object
AgeGroup      object
Trial          int64
Valence        int64
AA             int64
TrialSet       int64
Win          float64
dtype: object

In [32]:
aa_adults.dtypes

PartID         int64
Block         object
BadBlocks     object
AgeGroup      object
Trial          int64
Valence        int64
AA           float64
TrialSet       int64
Win          float64
dtype: object

In [33]:
# Verification of Valence and Trial Orderings
set(aa_kids[aa_kids.Block == aa_kids.BadBlocks].Valence) # confirms that Valence indicates positive or negative
aa_kids[aa_kids.PartID == "4-10"].sort_values(by = ["TrialSet", "Trial"]) # trialSets are 1-4 and trials are 1-16

set(aa_adults[aa_adults.Block == aa_adults.BadBlocks].Valence) 
aa_adults[aa_adults.PartID == 1].sort_values(by = ["TrialSet", "Trial"])

    PartID Block BadBlocks AgeGroup  Trial  Valence   AA  TrialSet  Win
1        1    BS        WP    Adult      1        1  1.0         1  1.0
9        1    WP        WP    Adult      2        0  1.0         1  0.0
4        1    WS        WP    Adult      3        1  0.0         1  NaN
7        1    BP        WP    Adult      4        1  1.0         1  1.0
6        1    WS        WP    Adult      5        1  1.0         2  1.0
14       1    BP        WP    Adult      6        1  1.0         2  1.0
3        1    BS        WP    Adult      7        1  1.0         2  1.0
2        1    WP        WP    Adult      8        0  0.0         2  NaN
16       1    BP        WP    Adult      9        1  1.0         3  1.0
15       1    WS        WP    Adult     10        1  1.0         3  1.0
8        1    WP        WP    Adult     11        0  1.0         3  0.0
5        1    BS        WP    Adult     12        1  1.0         3  1.0
13       1    WP        WP    Adult     13        0  1.0         4  0.0
12       1    BP        WP    Adult     14        1  1.0         4  1.0
11       1    WS        WP    Adult     15        1  1.0         4  1.0
10       1    BS        WP    Adult     16        1  1.0         4  1.0

In [34]:
# Verify the elements present in the "Win" variable
set(aa_kids.Win) # contains nan
aa_kids[aa_kids.Win == 0] = -1
aa_kids[aa_kids.Win == np.nan] = 0
# Replace the reward section such that avoid = 0, approach = 1 if Zaff and -1 if non-Zaff
aa_kids.replace({"Win": {0.0: -1.0, np.nan: 0.0}}, inplace = True)

# repeat for the adult dataset
set(aa_adults.Win)
aa_adults[aa_adults.Win == 0] = -1
aa_adults[aa_adults.Win == np.nan] = 0
aa_adults.replace({"Win": {0.0: -1.0, np.nan: 0.0}}, inplace = True)

In [35]:
set(aa_kids.AgeGroup)

{-1, 'Old', 'Young'}

In [36]:
# encode the block choices numerically 
block_coding = {"WP": 0, "BS": 1, "BP": 2, "WS": 3} 
aa_kids.replace(block_coding, inplace = True)
aa_adults.replace(block_coding, inplace = True)

# verify the datatypes (check for potential NaN or None or NA)
print("Kids Datatypes: ")
print(aa_kids.dtypes)           # PartID shouldn't be an object, will deal with soon. 
print("\nAdults Datatypes: ")
print(aa_adults.dtypes)

Kids Datatypes:
PartID        object
Block          int64
BadBlocks      int64
AgeGroup      object
Trial          int64
Valence        int64
AA             int64
TrialSet       int64
Win          float64
dtype: object

Adults Datatypes:
PartID         int64
Block          int64
BadBlocks      int64
AgeGroup      object
Trial          int64
Valence        int64
AA           float64
TrialSet       int64
Win          float64
dtype: object

In [37]:
# separate into kids_young, kids_old, adults 
aa_kids_young = aa_kids[aa_kids.AgeGroup == "Young"]
len(set(aa_kids_young.PartID)) # there are 32 unique participants in the young group
aa_kids_old = aa_kids[aa_kids.AgeGroup == "Old"]
len(set(aa_kids_old.PartID))   # there are ALSO 32 unique participants in the old group
len(set(aa_adults.PartID))     # there are 49 unique participants in the adult group

# drop the AgeGroup column since they are meaningless 
aa_kids_young.drop(columns = ["AgeGroup"], inplace = True)
aa_kids_old.drop(columns = ["AgeGroup"], inplace = True)
aa_adults.drop(columns = ["AgeGroup"], inplace = True)

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [38]:
# encode the kid participant IDs as numerics 
ptcp = 1
ptcp_to_num_young = {}
for participant in set(aa_kids_young.PartID): 
    ptcp_to_num_young[participant] = ptcp
    ptcp += 1
aa_kids_young.replace({"PartID": ptcp_to_num_young}, inplace = True)

ptcp = 1
ptcp_to_num_old = {}
for participant in set(aa_kids_old.PartID): 
    ptcp_to_num_old[participant] = ptcp
    ptcp += 1
aa_kids_old.replace({"PartID": ptcp_to_num_old}, inplace = True)

# sort each dataframe by participant ID and then Trial
aa_kids_young.sort_values(by = ["PartID", "Trial"])
aa_kids_old.sort_values(by = ["PartID", "Trial"])
aa_adults.sort_values(by = ["PartID", "Trial"])

# reset the index after re-ordering
aa_kids_young.reset_index(inplace = True, drop = True)
aa_kids_old.reset_index(inplace = True, drop = True)
aa_adults.reset_index(inplace = True, drop = True)

# verify the datatypes (check for potential NaN or None or NA)
print(aa_kids_young.dtypes, "\n")
print(aa_kids_old.dtypes, "\n")
print(aa_adults.dtypes)

PartID         int64
Block          int64
BadBlocks      int64
Trial          int64
Valence        int64
AA             int64
TrialSet       int64
Win          float64
dtype: object

PartID         int64
Block          int64
BadBlocks      int64
Trial          int64
Valence        int64
AA             int64
TrialSet       int64
Win          float64
dtype: object

PartID         int64
Block          int64
BadBlocks      int64
Trial          int64
Valence        int64
AA           float64
TrialSet       int64
Win          float64
dtype: object

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

### Simple RL Model (Two Alphas)

In [16]:
def RL2a_LLH(param, Data):
    """
    This function computes the negative loglikelihood of the softmax 
    equation of a two-alpha (positive and negative learning rate) RL model
    given a set of parameters: beta, alpha01, alpha02. 
    
    [llh]=RL_LLH(param) computes the negative log-likelihood of the data given
    the model specified in RL.m, and the parameters parm.
    
    param[0], beta, is the softmax temperature of the RL policy
    param[1], alpha is the learning rate of RL agent for positive reward prediction errors.
    param[2], alpha is the learning rate of RL agent for negative reward prediction errors.
    
    Data is a 2-D numpy array containing the data generated by the agent.
    Data[:,0] is the block number (1 - n) at each trial
    Data[:,1] is the the trial number in a block (1-N)
    Data[:,2] is the agent's choice (0 - 3) at each trial
    Data[:,3] is the feedback received by the agent at each trial (0-1)
    
    nllh = -llh is the negative log likelihood.
    """

    # model parameters
    beta = param[0]
    alpha = param[1:3]

    # task parameters
    N = int(np.max(Data[:, 2])) + 1  # number of trials in block
    n = int(np.max(Data[:, 0])) + 1  # number of participants
    llh = 0
    
    k = 0
    
    # Loop over the participants 
    for participant in range(n): 
        
        # initialize Q-values
        Q = np.array([.5, .5]) # one corresponding to approach, the other avoid
        alphas = []
        
        # iterate over every participant (similar to the phase from before)
        for partID in set(Data[(Data[:, 0] == block), 1]):
            
            # loop over trials
            for trial in set(Data[(Data[:, 0] == block) & (Data[:, 1] == partID), 2]):
                
                # compute softmax probabilities
                softmax = np.full(2, np.nan)
                softmax[1] = 1 / sum(np.exp(beta * (Q - Q[1])))
                softmax[0] = 1 - softmax[1]

                # use the action selected by the participant (approach vs. avoid)
                action = int(Data[k, 3])

                # use the reward obtained by the participant (positive vs. negative)
                reward = Data[k, 4]

                # update values
                Q[action] += alpha[int(reward)] * (reward - Q[action])
                alphas.append(alpha[int(reward)])
                
                # update llh
                llh += np.log(softmax[action])
                
                k += 1

    return -llh

In [17]:
# Test the RL2a_LLH Function
param = [0.5, 0.5, 0.5]
result = RL2a_LLH(param, aa_kids_young.to_numpy()) 
result # Works!

NameError: name 'block' is not defined

In [ ]:
def optimize(fname, 
             bounds, 
             Data, 
             niter,
             toplot=False,
            ):
             
    #  bestparameters,bestllh = optimize(fname,bounds, Data,niter,toplot) runs 
    #  the minimize function niter times on the function fname, with constraints 
    #  bounds to find parameters that best fit the data Data. It returns the
    #  best likelihood and best fit parameters over the niter iterations.

    #  ## fname is the python function to optimize. fname 
    #  should take as first argument a 1 by n vector of parameters. 
    #  Note the bounds are set up differently than they are in Matlab, 
    #  And should come as a list of [min,max] pairs. (ie. [[min,max],[min,max], ...])
    #  
    #  ## Data is the data set to be fit by likelihood function fname.
    #  ## niter is the number of starting points for the optimization
    #  ## toplot is an optional argument; if plot~=0, this function will plot the
    #  best likelihood as a function of starting point iterations.

    #  ## best parameters is the 1*n vector of parameters found to minimize the
    #  negative log likelihood over the data.
    #  bestllh is the log likelihood value for the best parameters.

    outcomes = np.full([niter, len(bounds)+1], np.nan)
    optimcurve = np.full(niter, np.nan)
    for i in range(niter):
        
        # random starting point based on maximum bounds
        params0 = np.array([bound[1] * np.random.rand() for bound in bounds])
            
        # compute the function value at the starting point
        llh0 = fname(params0, Data)
        
        # run the optimizer with constraints
        result = minimize(fun=fname, x0=params0, args=(Data), bounds=bounds)
        x = result.x
        bestllh = fname(x, Data)
        outcomes[i, :] = [bestllh] + [xi for xi in x]    
        optimcurve[i] = min(outcomes[:(i+1), 0])

    # find the global minimum out of all outcomes
    i = np.argwhere(outcomes[:, 0] == np.min(outcomes[:, 0]))
    bestparameters = outcomes[i[0], 1:].flatten()
    bestllh = -1 * outcomes[i[0], 0].flatten()[0]
    
    # plot the best llh found by the optimizer as a function of iteration number.
    if toplot:
        plt.figure()
        plt.plot(range(niter), np.round(optimcurve, 6), 'o-')
        plt.xlabel('iteration')
        plt.ylabel('best minimum')
        plt.title(str(nblocks) + ' blocks')
    
    return(bestparameters, bestllh)

In [ ]:
# Recode the Data into the appropriate format for RL Model Fitting 
#     Data[:,0] is the block number (1 - n) at each trial
#     Data[:,1] is the participant number (1 - Z) at each trial
#     Data[:,2] is the the trial number in a block (1-N)
#     Data[:,3] is the agent's choice (0 - 1) at each trial
#     Data[:,4] is the feedback received by the agent at each trial (0-1)
#     Data[:,5] indicates whether the choice is correct (0-1)
aa_kids_young = aa_kids_young[["TrialSet", "PartID", "Trial", "AA", "Win", "Correct"]]

In [ ]:
# set up the optimizer
betamin = 0
betamax = 20 
alpha0min = 0
alpha0max = 1
alpha1min = 0
alpha1max = 1
bounds = [[betamin, betamax], [alpha0min, alpha0max], [alpha1min, alpha1max]]
niter = 20
nblocks = 4

bestparameters, bestllh = optimize(RL2a_LLH, bounds, Data, niter, toplot=True)

print('overall')
print('best loglikelihood is {0}'.format(bestllh))
print('best beta is {0}'.format(bestparameters[0]))
print('best alpha0 is {0}'.format(bestparameters[1]))
print('best alpha1 is {0}'.format(bestparameters[2]))

In [ ]:
####### Look specifically at non-Zaff and the learning rate of non-Zaffs across age groups