In [1]:
%matplotlib inline
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

Exploratory Analysis 
--
The goal of this section is to better understand the format of the data.

#### Approach/Avoid Stage

In [2]:
# read in the data sets from the approach/avoid task
aa_adults = pd.read_csv("Study3_AAData_Adults.csv", index_col = 0)
aa_kids = pd.read_csv("Study3_AAData_Kids.csv", index_col = 0)

In [3]:
aa_adults.head()

,PartID,Attn1,Attn2,Attn3,Age,Gender,VidsWatched,Stars,BadBlocks,NumStickers,...,TimeSee.BP,TimeSee.BS,TimeSee.WP,TimeSee.WS,BPSeen,BSSeen,WPSeen,WSSeen,Valence,AgeGroup
1,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,1,Adult
2,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,0,Adult
3,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,1,Adult
4,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,1,Adult
5,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,1,Adult

In [4]:
aa_kids.head()

,PartID,Age,Gender,Block,HappySide,BadBlocks,Attn1,Attn2,Attn3,RCD,...,Pred,TrialSet,TimeSee.BP,TimeSee.BS,TimeSee.WP,TimeSee.WS,BPSeen,BSSeen,WPSeen,WSSeen
1,4-10,4.389041,M,WP,L,BS,1,1,1,1,...,1.0,1,4,4,4,4,True,True,True,True
2,4-10,4.389041,M,BP,L,BS,1,1,1,1,...,NaN,2,4,4,4,4,True,True,True,True
3,4-10,4.389041,M,WS,L,BS,1,1,1,1,...,NaN,4,4,4,4,4,True,True,True,True
4,4-10,4.389041,M,BP,L,BS,1,1,1,1,...,1.0,1,4,4,4,4,True,True,True,True
5,4-10,4.389041,M,WS,L,BS,1,1,1,1,...,NaN,2,4,4,4,4,True,True,True,True

In [5]:
# Subset by a preliminary set of interesting variables 
variables_of_interest = ["PartID", "Block", "BadBlocks", "AgeGroup", "Trial", "Valence", "AA", "TrialSet"]
aa_kids = aa_kids[variables_of_interest]
aa_kids.head()

  PartID Block BadBlocks AgeGroup  Trial  Valence  AA  TrialSet
1   4-10    WP        BS    Young      1        1   1         1
2   4-10    BP        BS    Young      5        1   1         2
3   4-10    WS        BS    Young     13        1   1         4
4   4-10    BP        BS    Young      3        1   1         1
5   4-10    WS        BS    Young      7        1   1         2

In [6]:
set(aa_kids[aa_kids.Block == aa_kids.BadBlocks].Valence) # confirms that Valence indicates positive or negative
aa_kids[aa_kids.PartID == "4-10"].sort_values(by = ["TrialSet", "Trial"]) # shows us that we can just ignore TrialSet?

   PartID Block BadBlocks AgeGroup  Trial  Valence  AA  TrialSet
1    4-10    WP        BS    Young      1        1   1         1
8    4-10    BS        BS    Young      2        0   1         1
4    4-10    BP        BS    Young      3        1   1         1
11   4-10    WS        BS    Young      4        1   1         1
2    4-10    BP        BS    Young      5        1   1         2
16   4-10    BS        BS    Young      6        0   1         2
5    4-10    WS        BS    Young      7        1   1         2
6    4-10    WP        BS    Young      8        1   1         2
12   4-10    BP        BS    Young      9        1   1         3
9    4-10    WS        BS    Young     10        1   1         3
15   4-10    WP        BS    Young     11        1   1         3
7    4-10    BS        BS    Young     12        0   1         3
3    4-10    WS        BS    Young     13        1   1         4
14   4-10    BP        BS    Young     14        1   1         4
10   4-10    BS        BS    Young     15        0   1         4
13   4-10    WP        BS    Young     16        1   1         4

In [7]:
# finalize the subset for the RL model fitting 
aa_kids = aa_kids[["PartID", "Block", "Trial", "Valence", "AgeGroup"]]
aa_kids.reset_index(inplace = True, drop = True)
# encode the different actions numerically
block_coding = {"WP": 0, "BS": 1, "BP": 2, "WS": 3} 
aa_kids = aa_kids.replace(block_coding) 
# verify the datatypes (check for potential NaN or None or NA)
print(aa_kids.dtypes)

# take a look at the dataframe to check everything looks good
aa_kids

PartID      object
Block        int64
Trial        int64
Valence      int64
AgeGroup    object
dtype: object

     PartID  Block  Trial  Valence AgeGroup
0      4-10      0      1        1    Young
1      4-10      2      5        1    Young
2      4-10      3     13        1    Young
3      4-10      2      3        1    Young
4      4-10      3      7        1    Young
...     ...    ...    ...      ...      ...
1019    7-9      2     10        1      Old
1020    7-9      2     14        1      Old
1021    7-9      3      4        1      Old
1022    7-9      1     12        1      Old
1023    7-9      0     16        0      Old

[1024 rows x 5 columns]

#### Generalization Stage

In [8]:
# read in the dataset from the generalization task
gen_adults = pd.read_csv("Study3_GenData_Adults.csv", index_col = 0)
gen_kids = pd.read_csv("Study3_GenData_Kids.csv", index_col = 0)

In [9]:
gen_adults.head()

,PartID,Attn1,Attn2,Attn3,Age,Gender,VidsWatched,Stars,BadBlocks,NumStickers,...,TimeSee.WP,TimeSee.WS,BPSeen,BSSeen,WPSeen,WSSeen,GenBlock,GenCorrect,Valence,AgeGroup
1,1,1,3,1,28,1,2,9,WP,9,...,3,3,True,True,True,True,BS,1,1,Adult
2,1,1,3,1,28,1,2,9,WP,9,...,3,3,True,True,True,True,WS,0,1,Adult
3,1,1,3,1,28,1,2,9,WP,9,...,3,3,True,True,True,True,BP,1,1,Adult
4,1,1,3,1,28,1,2,9,WP,9,...,3,3,True,True,True,True,WP,0,0,Adult
5,2,1,2,3,28,1,1,12,BP,12,...,4,4,True,True,True,True,BS,0,1,Adult

In [11]:
gen_adults.dtypes

PartID          int64
Attn1           int64
Attn2           int64
Attn3           int64
Age             int64
Gender          int64
VidsWatched     int64
Stars           int64
BadBlocks      object
NumStickers     int64
Block          object
GenZaff         int64
Val             int64
Correct         int64
TimeSee.BP      int64
TimeSee.BS      int64
TimeSee.WP      int64
TimeSee.WS      int64
BPSeen           bool
BSSeen           bool
WPSeen           bool
WSSeen           bool
GenBlock       object
GenCorrect      int64
Valence         int64
AgeGroup       object
dtype: object

In [12]:
set(gen_adults.Valence) # valence here indicates zaff (1) and non-zaff (0)

set(gen_adults.BadBlocks) # indicates the non-zaff for a specific experiment

{'BP', 'BS', 'WP', 'WS'}

In [13]:
# Question of Interest: When does the non-Zaff change? 

set(gen_adults[gen_adults.BadBlocks == "BS"].PartID) & set(gen_adults[gen_adults.BadBlocks == "WS"].PartID)
# It appears that every participant (for all of their trials) has a consistent non-zaff

set(gen_adults[gen_adults.PartID == 27].BadBlocks) 
# Appears to be true

for ID in set(gen_adults.PartID): 
    if len(set(gen_adults[gen_adults.PartID == ID].BadBlocks)) != 1: 
        print("Participant %d does not have exactly one non-Zaff" % ID)
# No output, therefore very likely to be true

set(gen_kids.AgeGroup) # kids are divided into "Old" and "Young" age groups
set(gen_adults.AgeGroup) # adults only have "Adult" for age group
set(gen_kids.GenCorrect) # one-hot encoding for correct and incorrect

# compute the proportions of correct vs. incorrect predictions for kids
total_kids_correct = np.sum(gen_kids.GenCorrect)
percent_kids_correct = total_kids_correct / len(gen_kids.GenCorrect)
percent_kids_incorrect = 1 - percent_kids_correct
print("Kids: %.3f%% Correct" % percent_kids_correct, "%.3f%% Incorrect" % percent_kids_incorrect)

# compute the proportions of correct vs. incorrect predictions for adults
total_adults_correct = np.sum(gen_adults.GenCorrect)
percent_adults_correct = total_adults_correct / len(gen_adults.GenCorrect)
percent_adults_incorrect = 1 - percent_adults_correct
print("Adults: %.3f%% Correct" % percent_adults_correct, "%.3f%% Incorrect" % percent_adults_incorrect)

set(gen_kids.GenBlock)

Kids: 0.695% Correct 0.305% Incorrect
Adults: 0.698% Correct 0.302% Incorrect

{'BP', 'BS', 'WP', 'WS'}

### Simple RL Model (Two Alphas)

In [ ]:
def RL2a(param, n):
    
    #[Data]=RL2a(param) simulates a basic RL learning mechanism with two learning rates on a
    #simple probabilistic reversal-learning task with n independent blocks.
    #
    #param[0], beta, is the softmax temperature of the RL policy
    #param[1], alpha is the learning rate of RL agent for positive reward prediction errors.
    #param[2], alpha is the learning rate of RL agent for negative reward prediction errors.
    #
    #Data is a [n*40*2,6] array containing the data generated by the agent.
    #Data[:,0] is the block number (1 - n) at each trial
    #Data[:,1] is the phase number (1 - 2) at each trial
    #Data[:,2] is the the trial number in a block (1-N)
    #Data[:,3] is the agent's choice (1-2) at each trial
    #Data[:,4] is the feedback received by the agent at each trial (0-1)
    #Data[:,5] indicates whether the choice is correct (0-1)
    #
    # the task is to pick between choice 1 and 2. In phase 1, Choice 1 gives reward r=0 with
    # probability 0.2, and r=1 with probability 0.8; choice 2 gives reward r=0 with
    # probability 0.8, and r=1 with probability 0.2. In phase 2, this is
    # reversed.


    # model parameters
    beta = param[0]
    alpha = param[1:3]

    # task parameters
    N = 15
    p = 0.8
    Data = np.ones(6)

    # loop over blocks
    for b in range(n):
        
        # initialize Q-values
        Q = np.array([.5, .5])
        
        # initial learning phase, then reversal phase.
        for phase in range(2):
            
            # loop over trials
            for t in range(N):

                # compute softmax probabilities
                softmax = np.full(2, np.nan)
                softmax[1] = 1 / sum(np.exp(beta * (Q - Q[1])))
                softmax[0] = 1 - softmax[1]

                # pick action
                a = np.random.choice(range(2), p=softmax)

                # correct action changes with the phase
                Cor = a == phase;

                # reward according to probabilities (if you get it correct, you get reward w/ p=0.8)
                r = np.random.binomial(n=1, p=(int(Cor) * 0.8 + (1 - int(Cor)) * 0.2))

                # update values
                Q[a] += alpha[int(r)] * (r - Q[a])

                # store data
                Data = np.vstack((Data, np.array([b, phase, t, a, r, Cor])))
            
    return Data[1:]  # remove first row

In [ ]:
def RL2a_LLH(param, Data):
    """
    This function computes the negative loglikelihood of the softmax 
    equation of a two-alpha (positive and negative learning rate) RL model
    given a set of parameters: beta, alpha01, alpha02. 
    
    [llh]=RL_LLH(param) computes the negative log-likelihood of the data given
    the model specified in RL.m, and the parameters parm.
    
    param[0], beta, is the softmax temperature of the RL policy
    param[1], alpha is the learning rate of RL agent for positive reward prediction errors.
    param[2], alpha is the learning rate of RL agent for negative reward prediction errors.
    
    Data is a [n*40*2,6] array containing the data generated by the agent.
    Data[:,0] is the block number (1 - n) at each trial
    Data[:,1] is the phase number (1 - 2) at each trial
    Data[:,2] is the the trial number in a block (1-N)
    Data[:,3] is the agent's choice (1-2) at each trial
    Data[:,4] is the feedback received by the agent at each trial (0-1)
    Data[:,5] indicates whether the choice is correct (0-1)
    
    nllh = -llh is the negative log likelihood.
    """

    # model parameters
    beta = param[0]
    alpha = param[1:3]

    # task parameters
    N = int(np.max(Data[:, 2])) + 1  # number of trials in block
    n = int(np.max(Data[:, 0])) + 1  # number of blocks
    llh = 0
    
    k = 0
    
    # loop over blocks
    for block in range(n):
        
        # initialize Q-values
        Q = np.array([.5, .5])
        alphas = []
        
        # initial learning phase, then reversal phase.
        for phase in range(2):
            
            # loop over trials
            for trial in range(N):
                
                # compute softmax probabilities
                softmax = np.full(2, np.nan)
                softmax[1] = 1 / sum(np.exp(beta * (Q - Q[1])))
                softmax[0] = 1 - softmax[1]

                # use the action selected by the participant
                action = int(Data[k, 3])

                # use the reward obtained by the participant
                reward = Data[k, 4]

                # update values
                Q[action] += alpha[int(reward)] * (reward - Q[action])
                alphas.append(alpha[int(reward)])
                
                # update llh
                llh += np.log(softmax[action])
                
                k += 1

    return -llh